.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-container{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.about-img img {
  margin: 0 230px;
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 45%;
  border-radius: 35px;
}
.about-text h2 {
  font-size: 60px;
}
.about-text h2 span {
  color: #0ef;
}
.about-text h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin: 2px;
  margin-bottom: 4rem;
}