@use '../animations/keyframe';

// ===============================
// CONTACT SECTION
// ===============================


.footer__container {
    height: 100%;

    .contact__text {
        padding: .5em 0;
        display: flex;
        flex-direction: column;
        text-align: left;

        .text__me {
            margin-top: 1em;
            padding: .2em 0;

            h2 {
                font-size: 3.3rem;
                text-align: center;

                span {
                    color: #0ef;
                }
            }

            h4 {
                margin-bottom: .3em;
                color: #e4e4e4;
                font-size: 1.8rem;
                font-weight: bold;
            }

            p {
                margin-bottom: .4em;
                color: #b1b1b1;
                font-size: 1.2rem;
            }

        }

        .contact__list {
            li {
                list-style: none;

                i {
                    padding: .43em 0;
                    color: #0ef;
                    font-size: 1.3rem;
                    font-weight: 600;
                    transition: transform 0.4s ease, color 0.4s ease;
                }

                &:hover i {
                    transform: scale(1.2) translateY(-5px);
                    color: #0ef;
                }
            }
        }

        .contact__icons {
            margin-top: .2em;
            padding: 1em 0;

            a {
                padding-right: 1.5em;
                text-decoration: none;

                i {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.8rem;
                    height: 2.8rem;
                    border: 0.2rem solid #0ef;
                    border-radius: 50%;
                    font-size: 1.2rem;
                    color: #0ef;
                    transition: 0.5s ease;
                    opacity: 0;
                    animation: slideLeft 1s ease forwards;
                    animation-delay: calc(0.2s * var(--i));

                    &:hover {
                        background: #0ef;
                        color: #000;
                        box-shadow: 0 0 20px #0ef;
                    }
                }
            }
        }

    }
}

// ===============================
// FORM SECTION
// ===============================


input {
    width: 60em;
    margin-bottom: .4em;
    display: flex;
    flex-direction: column;
    
}
input,
textarea {
    text-align: center;
    border: none;
    outline: none;
    padding: .6em 0;
    background: #e7cfb7;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.6rem;
}

textarea {
    resize: none;
    width: 60em;
    height: 9em;
}
.send {
    align-self: center;
    padding: .65em 0;
    background: #0ef;
    border-radius: 12px;
    font-size: 1rem;
    color: #081b29;
    letter-spacing: .3rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;

    &:hover {
        box-shadow:
            0 0 1.5px rgb(0, 201, 201),
            0 0 12px rgb(0, 201, 201),
            0 0 15px rgb(0, 201, 201),
            0 0 30px rgb(0, 201, 201);
    }
}

// ===============================
// FOOTER TEXT SECTION
// ===============================
.last__text {
    p {
        text-align: center;
        padding: 1em 1em;
        background-color: rgb(7, 85, 91);
        font-weight: bold;
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    .top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;

        i {
            color: #000;
            background: rgb(107, 201, 208);
            font-size: 20px;
            padding: 10px;
            border-radius: 50%;
        }
    }
}