@use '../animations/keyframe';

.header__nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(circle, rgba(74, 23, 55, 1) 0%, rgba(68, 26, 74, 1) 50%, rgba(23, 3, 5, 1) 100%);
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 0.68fr 1fr;
    justify-items: stretch;
    z-index: 100;

    .logo {
        padding: .3em 5em;
        position: relative;
        font-size: 1.1em;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
        opacity: 0;
        animation: slideRight 1.3s ease forwards;
    }

    /* Nav Bar */
    .navbar a {
        padding: .4em 1.52em;
        display: inline-block;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        transition: .3s;
        opacity: 0;
        animation: slideTop 1.3s ease forwards;
    }

    .navbar a:hover {
        color: #0ef;
    }
}