@use '../animations/keyframe' as *;


.home__content {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr .8fr;
    justify-items: center;
    margin: 0 auto;

    .text__container {
        width: 100%;
        padding-left: 6em;
        max-width: 1200px;
        display: flex;
        flex-direction: column;

        .content-text {
            width: 100%;
            padding-bottom: 25px;

            h1 {
                padding: 0 0;
                font-size: 30px;
                font-weight: 700;
                margin: 10px 0;
                opacity: 0;
                animation: slideRight 1s ease forwards;
                animation-delay: 1s;

            }

            h2 {
                font-size: 30px;
                font-weight: 400;
                opacity: 0;
                animation: slideBottom 1s ease forwards;
                animation-delay: 1.5s;
            }

            h3 {
                padding-bottom: 1.3em;
                font-size: 1.3em;
                font-weight: 400;
                opacity: 0;
                animation: slideBottom 1s ease forwards;
                animation-delay: 1.5s;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                opacity: 0;
                animation: slideLeft 1s ease forwards;
            }
        }

        /* Type-Speed */
        .content-text h2:nth-of-type(2) {
            margin-bottom: 20px;
        }

        .content-text h3:nth-of-type(2) {
            margin-bottom: 20px;
        }

        .content-text h3 span {
            color: #0ef;
        }

        .home__soc-icon a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: 2px solid #0ef;
            border-radius: 50%;
            font-size: 25px;
            color: #0ef;
            text-decoration: none;
            transition: .5s ease;
            opacity: 0;
            animation: slideLeft 1s ease forwards;
            animation-delay: calc(.2s * var(--i));
            margin: 10px 8px 12px 12px;
        }

        .home__soc-icon a:hover {
            background: #0ef;
            color: #081b29;
            box-shadow: 0 0 20px #0ef;
        }

        .btn-box {
            display: inline-block;
            padding: 12px 28px;
            background: #0ef;
            border-radius: 40px;
            font-size: 16px;
            color: #081b29;
            letter-spacing: 1px;
            text-decoration: none;
            font-weight: bold;
            opacity: 0;
            animation: slideTop 1s ease forwards;
            animation-delay: 2s;
            box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
        }

        .btn-box:hover {
            box-shadow: 0 0 5px rgb(0, 201, 201),
                0 0 5px rgb(0, 201, 201), 0 0 20px rgb(0, 201, 201),
                0 0 70px rgb(0, 201, 201), 0 0 150px rgb(0, 201, 201);
        }
    }

    .home__img {
        width: 280px;
        height: 280px;
        padding: 0 3em;
        background-image: url(/public/assets/Cesar.png);
        background-size: cover;
        background-position: center;
        border: 4px solid rgb(60, 18, 45);
        border-radius: 60%;
        display: flex;
        flex-direction: column;
        justify-items: end;
    }


}