.portfolio__main {
    width: 100vw;
    height: 100vh;
    padding-top: 4%;

    .portfolio {
        margin-top: 30px;

        .content__text {
            padding: 10px 80px;
            margin-top: 0px;
            text-align: center;

            h2 {
                margin-bottom: 40px;
                font-size: 55px;
                line-height: 1.1;
                text-align: center;

                span {
                    padding: 20px;
                    color: #0ef;
                }
            }
        }

        .portfolio__content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
            gap: 20px 50px;

            .row {
                height: 50vh;
                position: relative;
                overflow: hidden;
                border-radius: 20px;
                cursor: pointer;

                img {
                    width: 100%;
                    border-radius: 20px;
                    display: block;
                    transition: transform 0.6s;
                }

                .layer {
                    width: 100%;
                    height: 55vh;
                    background: linear-gradient(rgba(39, 36, 36, 0.1), #0ef);
                    position: absolute;
                    border-radius: 20px;
                    left: 0;
                    bottom: 0;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 30px;
                    opacity: 0;
                    transform: translateY(100%);
                    transition: all 0.7s ease;

                    h5 {
                        color: #c8afaf;
                        font-size: 25px;
                        font-weight: bold;
                        margin-bottom: 30px;
                        padding: 18px 10px;
                    }

                    p {
                        color: #c8afaf;
                        padding: 2px 8px;
                        font-size: 1.1rem;
                        line-height: 1.5;
                    }

                    i {
                        margin-top: 15px;
                        font-size: 20px;
                        background: #bcffeee0;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                    }

                    a i {
                        color: #c8afaf;
                        transition: color 0.3s ease;
                    }

                    a:hover i {
                        color: #8d3e57;
                    }
                }
            }

            .row:hover img {
                transform: scale(1.6);
            }

            .row:hover .layer {
                opacity: 1;
                transform: translateY(0);
            }

        }
    }
}