@use '../animations/keyframe' as *;

.services__main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    .title {
        text-align: center;

        .sub-title {
            margin-top: .5em;
            margin-bottom: .9em;
            font-size: 3.5rem;

            span {
                color: #0ef;
            }
        }
    }

    .card__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2.5em;
        padding: 4em 2em;

        .card {
            width: 100%;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            display: block;
            background-color: transparent;
            padding: 2.2em;
            font-size: 1.1rem;
            border-radius: 1.3em;
            transition: background 0.5s, transform 0.5s;
            box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;

            i {
                font-size: 3rem;
                margin-bottom: .6em;
            }

            h2 {
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: .8em;
            }

            a {
                text-decoration: none;
                color: #00000000;
                font-size: 2rem;
                margin-top: 1.7em;
                display: inline-block;
            }

            .read {
                display: inline-block;
                padding: .4em 1.2em;
                background: #0ef;
                border-radius: .7em;
                font-size: 1.05rem;
                color: #1f2326;
                letter-spacing: .1em;
                text-decoration: none;
                font-weight: bold;
                opacity: 0;
                animation: slideTop 1s ease forwards;
                animation-delay: 2s;
                box-shadow: 0 0 5px #0ef,
                    0 0 25px #0ef;
            }

            .read:hover {
                box-shadow: 0 0 5px rgb(0, 201, 201),
                    0 0 5px rgb(0, 201, 201), 0 0 20px rgb(0, 201, 201),
                    0 0 70px rgb(0, 201, 201), 0 0 150px rgb(0, 201, 201);
            }
        }
    }

    .card__list div:hover {
        transform: translateY(-10px);
    }
}