@use '../animations/keyframe' as *;

.skill__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sub-title {
        font-size: 60px;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 30px;

        span {
            color: #0ef;
        }
    }

    .container-technical {
        width: 95vw;
        height: 90vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
        padding: 0 90px;

        .tecnologies {
            width: 650px;
            height: 500px;
            padding: 0 80px;
            margin: 20px;

            .heading1 {
                text-align: start;
                text-decoration: none;
                margin-bottom: 40px;
            }

            .technical-bars {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .bar {
                    font-size: 20px;
                    padding: 0 5px;
                }

                .bar:first-child {
                    margin-top: 0;
                }

                .bar:last-child {
                    margin-bottom: 0;
                }

                .bar i {
                    padding-top: 15px;
                }

                .bar .info {
                    margin-bottom: 5px;
                }

                .bar .info span {
                    font-size: 17px;
                    padding: 0 10px;
                    font-weight: bold;
                    animation: showText 0.5 1s liner forwards;
                    opacity: 0;
                }

                .bar .progress-line {
                    position: relative;
                    border-radius: 5px;
                    width: 80%;
                    height: 10px;
                    background-color: #000000;
                    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                .bar .progress-line span {
                    height: 100%;
                    background-color: #0ef;
                    position: absolute;
                    border-radius: 10px;
                    animation: animate 0.5s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                .progress-line.html span {
                    width: 90%;
                }

                .progress-line.css span {
                    width: 60%;
                }

                .progress-line.javascript span {
                    width: 85%;
                }

                .progress-line.python span {
                    width: 50%;
                }

                .progress-line.react span {
                    width: 70%;
                }

                .progress-line span::after {
                    position: absolute;
                    padding: 1px 8px;
                    background-color: #000;
                    color: #fff;
                    font-size: 12px;
                    border-radius: 3px;
                    top: -28px;
                    right: -20px;
                    animation: showText 0.5s 1.5s linear forwards;
                    opacity: 0;
                }

                .progress-line.html span::after {
                    content: "90%";
                }

                .progress-line.css span::after {
                    content: "70%";
                }

                .progress-line.javascript span::after {
                    content: "80%";
                }

                .progress-line.python span::after {
                    content: "50%";
                }

                .progress-line.react span::after {
                    content: "40%";
                }

                .progress-line span::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 7px solid transparent;
                    border-bottom-width: 0px;
                    border-right-width: 0px;
                    border-top-color: #161616;
                    top: -10px;
                    right: 0;
                    animation: showText 0.5 1.5s liner forwards;
                    opacity: 0;
                }
            }

        }
    }

    .container__radial {
        width: 40vw;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 14px 80px;

        .heading1 {
            text-align: start;
            text-decoration: none;
            margin-bottom: 40px;
        }
    }



}











/* Radial */

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.radial-bars .radial-bar {
    width: 35%;
    height: 200px;
    margin-bottom: 25px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 90px;
    height: 130px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: start;
    left: 70%;
    transform: translateX(-30px);
    font-size: 17px;
    font-weight: bold;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}