.item {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .8s ease, transform .8s ease;
}

.item.visible {
    opacity: 1;
    transform: translateY(0);
}

nav a.active {
  color: #00aaff;
  font-weight: bold;
}