@use 'sass:map';

$global-width: 100%;
$global-max-width: 1200px;

$space-margin: 0 auto;

$cyan-primary: #ad0641;


//Colors
$colors: (
    primary: radial-gradient(circle, rgb(34, 11, 11) 0%, rgb(22, 9, 36) 50%, rgb(26, 0, 3) 100%),
);


//Spinning Card
$card-width: 400px;
$card-height: 500px;
$cyan-primary: #ad0641;
$primary-color: rebeccapurple;
$shadow: 0 5px 10px #000;

@function color($name) { @return map.get($colors, $name); }