@use '../../base/variables';

$border-radius: 8px;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(20px, 5vh, 60px);
}

.btn-primary {
  width: clamp(200px, 40vw, 350px);
  font-size: 1.1rem;
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(238, 138, 146, 0.377);
  color: #fff;
  font-weight: bold;
  background-color: variables.$cyan-primary;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
}

iframe {
  width: clamp(300px, 90vw, 1200px);
  height: 80vh;
  border: none;
  box-shadow: 0 4px 10px rgba(241, 242, 243, 0.644);
}

.pdf-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  .pdf-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    width: clamp(300px, 90vw, 1200px);
    max-width: 1200px;
  }

  .card {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #d8090952;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(238, 138, 146, 0.377);

  }

  .pdf-iframe {
    width: clamp(300px, 100%, 1100px);
    height: 80vh; // Casi toda la pantalla
    border: none;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }
}

.btn-secondary {
  width: clamp(200px, 40vw, 350px);
  font-size: 1.1rem;
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(238, 138, 146, 0.377);
  color: #fff;
  margin-bottom: 1.5rem;
  text-decoration: none;
  text-align: center;
  background: #4c418b;
  font-weight: bold;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
}

@media (max-width: 768px) {
  iframe {
    height: 60vh;
  }
}
