$primary-color: #2196f3;
$border-radius: 8px;

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
  background-color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(20px, 5vh, 60px); 
}


.btn-primary {
  width: clamp(200px, 40vw, 350px); 
  font-size: 1.1rem; 
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, .1);
  color: #fff;
  background-color: $primary-color;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.1); 
  }
}


iframe {
  width: clamp(300px, 90vw, 1200px); 
  height: 80vh;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

@media (max-width: 768px) {
  iframe {
    height: 60vh; 
  }
}