$primary-color: #2196f3;
$border-radius: 8px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(20px, 5vh, 60px); 
}


.btn-primary {
  width: clamp(200px, 40vw, 350px); 
  font-size: 1.1rem; 
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, .1);
  color: #fff;
  background-color: $primary-color;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.1); 
  }
}


iframe {
  width: clamp(300px, 90vw, 1200px); 
  height: 80vh;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

.pdf-page {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .pdf-controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: clamp(300px, 90vw, 1200px);
  }

  .pdf-iframe {
    width: clamp(300px, 95vw, 1200px);
    height: 85vh; // Casi toda la pantalla
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border: none;
  }
}

.btn-secondary {
  text-decoration: none;
  background: #6c757d;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}


@media (max-width: 768px) {
  iframe {
    height: 60vh; 
  }
}