@use '../../base/variables';

$primary-color: #74bcf8;
$border-radius: 8px;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(20px, 5vh, 60px);
  background-color: variables.$cyan-primary;
}

.btn-primary {
  width: clamp(200px, 40vw, 350px);
  font-size: 1.1rem;
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bold;
  background-color: $primary-color;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
}

iframe {
  width: clamp(300px, 90vw, 1200px);
  height: 80vh;
  border: none;
  box-shadow: 0 4px 10px rgba(53, 52, 52, 0.1);
}

.pdf-page {
  width: 100%;
  min-height: 100vh;
  background-color: #fdf2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .pdf-controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: clamp(300px, 90vw, 1200px);
  }

  .pdf-iframe {
    width: clamp(300px, 95vw, 1200px);
    height: 85vh; // Casi toda la pantalla
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: none;
  }
}

.btn-secondary {
  width: clamp(200px, 40vw, 350px);
  font-size: 1.1rem;
  padding: 12px;
  border-radius: $border-radius;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-bottom: 1.5rem;
  text-decoration: none;
  text-align: center;
  background: #b3c0cc;
  color: white;
  font-weight: bold;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.1);
  }
}

@media (max-width: 768px) {
  iframe {
    height: 60vh;
  }
}
