@use '../molecules/spinningCard';

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: $primary-color;
}

.card {
    position: relative;
    width: $card-width;
    height: $card-height;
    margin: 20px;
    cursor: pointer;

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }

    .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: $shadow;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            color: #fff;
            background: rgba(0, 0, 0, .4);
            text-align: center;
        }
    }

    .back {
        transform: perspective(600px) rotateY(180deg);
        background: rgb(3, 35, 54);
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: $shadow;

        .link {
            border-top: solid 1px #f3f3f3;
            height: 50px;
            line-height: 50px;

            a {
                color: #f3f3f3;
            }

            h3 {
                font-size: 30px;
                margin-top: 20px;
                letter-spacing: 2px;
            }

            p {
                letter-spacing: 1px;
            }
        }
    }
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(0deg);
}