.main__container {
    display: grid;

    grid-area:
        "home" auto 
        "about" auto 
        "service" auto 
        "skill" auto 
        "project" auto 
        ;

    .item {
        width: 100%;
        min-height: 39em;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .home__item {
        grid-area: home;
    }

    .about__item {
        grid-area: about;
    }

    .service__item {
        grid-area: service;
    }

    .skill__item {
        grid-area: skill;
    }

    .project__item {
        grid-area: project;
    }

    .contact__item {
        grid-area: contact;
    }


}