 .main__container {
    display: grid;

    grid-template-areas:
        "home"  
        "about"  
        "service"  
        "skill" 
        "project" 
        "contact"
        ;

        grid-template-rows: auto;
        grid-template-columns: 1fr;
        padding-top: 2em;

    .item {
        width: 100%;
        min-height: 39em;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .home__item {
        grid-area: home;
    }

    .about__item {
        grid-area: about;
    }

    .service__item {
        grid-area: service;
    }

    .skill__item {
        grid-area: skill;
    }

    .project__item {
        grid-area: project;
    }

    .contact__item {
        grid-area: contact;
    }


}