//reset
@use './base/_reset';

//components
@use './compónents/header';
@use './compónents/home';
@use './compónents/about';
@use './compónents/services';
@use './compónents/skill';
@use './compónents/projects';
@use './compónents/footer';