//reset
@use './base/_reset';


//layout
@use './layout/layout-main.scss';

// Teplate Spinning

@use './compónents/template/spinningCard';

//components
@use './compónents/header';
@use './compónents/home';
@use './compónents/about';
@use './compónents/services';
@use './compónents/skill';
@use './compónents/projects';
@use './compónents/footer';

//Documents
@use './compónents/docs_style/porfolioPDF';